<configuration>
   
   <connectionStrings>
       <add name="nwind" connectionString="XpoProvider=InMemoryDataStore;data source=&quot;C:\Users\Public\Documents\DevExpress Demos 22.2\Components\Data\nwind.xml&quot;;read only=True" />
   </connectionStrings>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
